@charset "utf-8";
@font-face { font-family: 'webtruyen_icon'; src: url('/static/font/webdoctruyen.eot'); src: url('/static/font/webdoctruyen.eot#iefix') format('embedded-opentype'), url('https://img.dtruyen.com/webtruyen_icon.woff2') format('woff2'), url('https://img.dtruyen.com/webtruyen_icon.woff') format('woff'), url('https://img.dtruyen.com/webtruyen_icon.ttf') format('truetype'), url('https://img.dtruyen.com/webtruyen_icon.svg?#webtruyen_icon') format('svg'); font-weight: normal; font-style: normal; font-display: swap;
}
html { color: #000; background: #eee; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; scroll-behavior: smooth;
}
html * { outline: 0; -webkit-text-size-adjust: none; -webkit-tap-highlight-color: transparent
}
body, html { font-family: "Segoe UI", Arial, sans-serif; font-size: 14px; background: #eee;
}
article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul { margin: 0; padding: 0
}
input, select, textarea { font-size: 100%; font-family: inherit;
}
table { border-collapse: collapse; border-spacing: 0
}
fieldset, img { border: 0
}
abbr, acronym { border: 0; font-variant: normal
}
del { text-decoration: line-through
}
address, caption, cite, code, dfn, th, var { font-style: normal; font-weight: 400
}
ol, ul { list-style: none
}
caption, th { text-align: left
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 600
}
q:after, q:before { content: ''
}
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline
}
sup { top: -.5em
}
sub { bottom: -.25em
}
a:hover { text-decoration: underline
}
a, ins { text-decoration: none
}
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
a { color: #4497f8; text-decoration: none;
}
small { font-size: 0.8em;
}
img { max-width: 100%;vertical-align: middle;border-radius: 10px;
}
.clearfix:after { content: ""; display: table; clear: both;
}
[class^="fa-"]:before, [class*=" fa-"]:before { font-family: "webtruyen_icon"; font-style: normal; font-weight: normal; display: inline-block; text-decoration: inherit; text-align: center; font-variant: normal; text-transform: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.fa-user:before { content: '\e800'; }
.fa-tags:before { content: '\e801';width: 15px; height: 19px; display: inline-block; }
.fa-refresh:before { content: '\e802'; }
.fa-eye:before { content: '\e803'; }
.fa-thumbs-o-up:before { content: '\e804'; }
.fa-signal:before { content: '\e805'; }
.fa-cloud-upload:before { content: '\f0ee';width: 15px; height: 50px; display: inline-block; }
.fa-angle-left:before { content: '\f104'; }
.fa-angle-right:before { content: '\f105';width: 5px; height: 18px; display: inline-block; }
.fa-angle-down:before { content: '\f107'; }
.fa-diamond:before { content: '\f219'; }
.fa-search:before { content: '\e80a'; }
.fa-cog:before { content: '\e80b'; }
.fa-off:before { content: '\e80e'; }
.fa-facebook:before { content: '\f09a'; }
.fa-money:before { content: '\f0d6'; }
.fa-history:before { content: '\f1da'; }
.fa-paypal:before { content: '\f1ed'; }
.fa-off:before{content:'\e80e';}
.fa-heart-empty:before { content: '\e808'; }
.fa-list-bullet:before { content: '\f0ca';width: 14px; height: 19px; display: inline-block; }
.fa-star::before{content:'\e807'}
.container{width:100%;max-width:1000px;margin:auto;display: flex;}
#main{margin-top:20px;}
#main-header{position: sticky; top:0; height:50px;background:#4497f8;color:#fff; z-index: 1;}
#main-header .logo{float:left;margin-right:10px;}
#main-header .logo a{ margin: 5px 0; display:block;color:#fff; height:40px; line-height:40px;text-align:center;font-size:17px;text-transform: capitalize;font-weight:600;}
#main-header .logo a:before{ width:40px;height:40px;display:inline-block;margin-right: 10px; background: url(https://img.dtruyen.com/logo-dtruyen.png) no-repeat; background-size: 40px 40px; content:"";vertical-align: middle;}
#main-header .toggle-nav {position: relative;float: left;width: 50px;height: 50px; display: none; cursor: pointer;}
#main-header .toggle-nav:before {content: "";position: absolute;top: 24px;height: 3px;width: 30px;left: 9px;background: #fff;border-radius: 2px;}
#main-header .toggle-nav:after {content: "";position: absolute;top: 24px;height: 3px;width: 26px;left: 9px;background: none;border-radius: 2px;-webkit-box-shadow: 0 -8px 0 #fff, 0 8px 0 #fff;-moz-box-shadow: 0 -8px 0 #fff,0 8px 0 #fff;box-shadow: 0 -8px 0 #fff, 0 8px 0 #fff;}
#main-header ul.main-nav{float:left;}
#main-header ul.main-nav>li{float:left;positioN: relative;}
#main-header ul.main-nav>li>a{padding:0 15px;height:50px;line-height:50px;color: #fff;}
#main-header ul.main-nav>li ul{position: absolute;left:0;top:50px;background: #fff;width:300px;box-shadow:2px 2px 3px rgba(0,0,0,0.2);display:none;flex-wrap: wrap;z-index:9;}
#main-header ul.main-nav>li:hover ul{display:flex;}
#main-header ul.main-nav>li ul li{width:50%;flex-shrink: 0;border-right:1px solid #ddd;border-top:1px solid #ddd;}
#main-header ul.main-nav>li ul li:nth-of-type(2n){border-right:none;}
#main-header ul.main-nav>li ul li:nth-of-type(1),#main-header ul.main-nav>li ul li:nth-of-type(2){border-top:none;}
#main-header ul.main-nav>li ul li a{padding: 8px 16px;display:block;color:#333;text-decoration:none;}
#main-header ul.main-nav>li ul li a.vip-link{color:#e74c3c;}
#main-header ul.main-nav>li ul li.compose-link{width:100%;text-align:center;}
#main-header ul.main-nav>li ul li.compose-link a{color:#e74c3c;}
#main-header ul.main-nav>li ul li a:hover{background: #eee;}
#search_form{float:left;padding:8px 10px;position: relative;}
#search_form input{width:300px;height:34px;line-height:34px;padding: 0 15px;border-radius: 50px;border:none;background:#fff;float:left;}
#search_form button{background:transparent;border:none;padding:0 15px; line-height:34px;margin-left:3px;position: absolute;right: 10px;cursor: pointer;}
#userPanel{margin-left:auto;height:50px;position: relative;}
#userPanel .login-btn{line-height: 50px;color:#fff;}
.main-col{flex: 0 0 68%;max-width: 68%;}
.right-sidebar{flex: 0 0 32%;max-width: 32%;margin-left:20px;}
.left-sidebar{flex: 0 0 32%;max-width: 32%;margin-right:20px;}
.card-box{ background: #fff; margin-bottom: 12px; border-top: 1px solid #e5e6e9; border-bottom: 1px solid #e5e6e9; border-radius: 10px; padding: 4px;
}
.card-box header{ padding: 8px 12px; border-bottom: 1px solid #e5e6e9; color: #4497f8; font-size: 20px; line-height: 18px; font-weight: 600; letter-spacing: -2px; text-transform: uppercase;
}
.card-box header i{margin: 0 10px;}
.card-box footer{text-align:center;padding:8px 10px;}
.card-box footer .show-more-btn{padding: 5px 20px; font-size: 14px; border-radius: 15px; background: #4497f8;color:#fff;text-align: center; cursor: pointer; white-space: nowrap;display:inline-block;}
.card-box>nav{padding: 5px 12px;border-bottom:1px solid #e5e6e9;text-align:center;display:flex;width:100%;overflow: hidden;}
.card-box>nav a{ font-size: 14px; letter-spacing: -.5px; display:inline-block; padding: 4px 10px 6px;background: #fff;color:#333; margin-bottom: 5px; border: 1px solid #333; border-radius: 50px; flex-shrink: 0;margin-right: 10px;
}
.card-box>nav a:hover {color: #1ba7fe; border-color: #1ba7fe; text-decoration: none;}
.vip-1:before { display:none; content: "VIP"; color: #e74c3c; border: 1px solid #e74c3c; width: 27px; font-size: 13px; font-weight: 500; padding: 0 3px; letter-spacing: -1px; margin-left: 5px;
}
.hot-1:before { content: "HOT"; color: #2c7abe; border: 1px solid #2c7abe; width: 27px; font-size: 13px; font-weight: 500; padding: 0 3px; letter-spacing: -1px; margin-left: 5px;
}
.story-list .info .label-type-1::before,.story-list .info .label-type-2::before,.story-list .info .label-type-3::before{ color: #e74c3c; border: 1px solid #e74c3c; border-radius: 4px; width: 27px; font-size: 13px; font-weight: 500; padding: 0 3px; letter-spacing: -1px; margin-left: 5px;
}
.story-list .info .label-type-1::before{content:"SÁNG TÁC";}
.story-list .info .label-type-2::before{content:"DỊCH";}
.story-list .info .label-type-3::before{content:"CONVERT";}
.full-end:before { content: "FULL"; color: #090; border: 1px solid #090; width: 27px; font-size: 13px; font-weight: 500; padding: 0 3px; letter-spacing: -1px; margin-left: 5px;
}
.side-description{ line-height: 1.3em;margin-bottom: 15px;padding:10px;background: #fff;border: 1px solid #ddd;
}
.side-description ul{margin-left: 10px;list-style: disc;}
#reading-stories{margin:10px;}
#reading-stories>div{margin-bottom:10px;display:flex;background:#ffeecc;border:1px solid #ffcc66;border-radius:40px;height:40px;}
#reading-stories>div:last-child{margin-bottom:0;}
#reading-stories>div>a{flex-grow: 1;overflow: hidden;color:#000;}
#reading-stories>div>a h5{display:block;white-space: nowrap;font-weight:600;font-size:13px;}
#reading-stories>div>a em{margin-right:20px;}
#reading-stories>div>a em,#reading-stories>div>a span{font-size: 12px;}
#reading-stories>div>i{float:left;width:40px;line-height:40px;text-align:center;flex-shrink: 0;}
#reading-stories>div>button{flex-shrink: 0;width:44px;border:none;background:none;font-size: 21px;text-align:center;line-height:36px;margin:2px 0;border-left: 1px solid #ffcc66;}
#reading-stories>div>span{line-height:40px;flex-shrink: 0;font-size: 13px;text-align: right;margin: 0 5px 0 10px;}
.promo-author{background: #fff; margin-bottom: 12px; border-top: 1px solid #e5e6e9; border-bottom: 1px solid #e5e6e9; text-align:center; padding: 10px; font-size: 16px;
}
.promo-author p{ margin-bottom: 10px;
}
.promo-author .gogo{ display: inline-block; padding: 6px 16px; white-space: nowrap; border-radius: 2px; color: #fff;background: #e91b0c; margin-top: 10px;text-decoration: none;
}

.last-chap {display: flex;}


.swipe-stories{margin: 10px 5px;overflow-x: hidden;position: relative;height: 274px;width: 670px;}
.swipe-stories ul{display:flex;transition: all 0.5s;-o-transition: all 0.5s;-webkit-transition: all 0.5s;-moz-transition: all 0.5s; transform: translateX(0); -webkit-transform: translateX(0); -o-transform: translateX(0); -moz-transform: translateX(0);}
.swipe-stories ul li{width:33.3334%;flex-shrink: 0;padding: 0 5px;}
.swipe-stories .direction-btn{position: absolute;top:35%;height:100px;margin-top: -50px;line-height:100px;z-index:9;font-size: 5rem;color:#fff; text-shadow: 0 0 10px #000;}
.swipe-stories .direction-btn.disabled{opacity:0.2;}
.swipe-stories .direction-btn.prev{left:15px;}
.swipe-stories .direction-btn.next{right:15px;}
.swipe-stories .fa-angle-right:before{content:'';width: 30px;height:60px;display: inline-block;background: url('https://img.dtruyen.com/angle-right.svg') no-repeat;}
.swipe-stories .fa-angle-left:before{content:'';width: 30px;height:60px;display: inline-block;background: url('https://img.dtruyen.com/angle-left.svg') no-repeat;}
.story-hot{background: #fff;box-shadow: 0 2px 3px rgba(0,0,0,0.2);position: relative;border-radius: 10px; overflow: hidden;}
.story-hot .thumb{display:block;}
.story-hot .thumb img{width:100%;height: auto;display:block;}
.story-hot .info{padding: 8px;position: absolute;bottom:0;left:0;right:0;background: rgba(0,0,0,0.8);color:#fff;text-align:center;}
.story-hot .title a{color: #fff;}
.story-hot .last-chapter{font-size: 12px;color:rgba(255,255,255,0.8);}
.grid-stories{display:flex;width:100%;flex-wrap: wrap;justify-content: space-between;padding:10px;}
.story-grid{width:152px;height: auto;}
.story-grid .thumb{display:block;position: relative; border-radius: 10px; overflow: hidden;}
.story-grid .thumb img{width: 100%;height:auto;display:block;}
.story-grid .thumb .label-type-1,.story-grid .thumb .label-type-2,.story-grid .thumb .label-type-3{ position: absolute;left:10px;top:10px; width:45px;height:52px;line-height:32px;background: url(https://img.dtruyen.com/badge2.svg) no-repeat;background-size: contain; color:#fff;font-weight:bold;text-align:center;font-size: 1.2em;
}
.story-grid .thumb .label-type-1::before{content:"ST"}
.story-grid .thumb .label-type-2::before{content:"Dịch"; font-size: 12px;}
.story-grid .thumb .label-type-3::before{content:"CV"}
.story-grid .info{padding: 8px;text-align:center;}
.story-grid .title a{color: #000;}
.story-grid .last-chapter{color: #707070;font-size: 12px;}
.story-list{display:flex;padding: 8px 10px;border-bottom: 1px solid #ddd;}
.story-list:hover{background: #eee;}
.story-list .info{flex-grow: 1;}
.story-list .info .title{ font-size: 15px; line-height: 14px; font-weight: 500; display: inline; letter-spacing: -0.5px; text-transform: capitalize;
}
.story-list .info .title a{color: #444;}
.story-list .last-chapter,.story-list .last-updated{font-size: 13px;color: #707070;text-align:right;flex-shrink: 0;}
.story-list .last-chapter{width:140px;}
.story-list .last-updated{width:100px;}
.categories a{width:50%;float:left;padding: 6px 6px 6px 20px;color:#444;text-transform: capitalize;}
.categories a:nth-of-type(1),.categories a:nth-of-type(2),.categories a:nth-of-type(3),.categories a:nth-of-type(4){ font-weight:600;color:#df1a0c;
}
.categories a:before{font-family: webtruyen_icon;display:inline-block;vertical-align: baseline;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale; content:"\e801";margin-right:5px;width:15px;height:15px;display: inline-block;}
.categories a:nth-of-type(1):before,.categories a:nth-of-type(2):before,.categories a:nth-of-type(3):before,.categories a:nth-of-type(4):before{ content:"\f219";width:15px;height:15px;display: inline-block;
}
.news-item .thumb{width:70px;height:60px;white-space:nowrap;padding:10px;float:left;}
.news-item .thumb img{height:auto;}
.news-item .title{padding-top:10px;padding-right:10px;font-weight:normal;margin-left:70px;}
.news-item .title a{color:#444;text-transform: capitalize;}
.story-top{border-bottom: 1px solid #e5e6e9;}
.story-top:before{width:50px;height:48px;line-height:48px;text-align: center;font-weight:200;font-size:25px;letter-spacing: -.5px;color:#2980b9;float:left;}
.top-stories .story-top:nth-of-type(1):before{content:"01";color:#e74c3c;}
.top-stories .story-top:nth-of-type(2):before{content:"02";color:#3a833c;}
.top-stories .story-top:nth-of-type(3):before{content:"03";color: #8f6b00;}
.top-stories .story-top:nth-of-type(4):before{content:"04";}
.top-stories .story-top:nth-of-type(5):before{content:"05";}
.top-stories .story-top:nth-of-type(6):before{content:"06";}
.top-stories .story-top:nth-of-type(7):before{content:"07";}
.top-stories .story-top:nth-of-type(8):before{content:"08";}
.top-stories .story-top:nth-of-type(9):before{content:"09";}
.top-stories .story-top:nth-of-type(10):before{content:"10";}
.story-top:after{content:"";display:table;clear:both;}
.story-top .title{font-size: 14px; font-weight: 600; letter-spacing: -1px; padding-top:6px;padding-right:6px; overflow: hidden;}
.story-top .title a{color:#333;}
.story-top .viewed{color:#757575;font-size:11px;}
.short-stories{display:flex;}
.short-stories .large{width:345px;height:248px;margin-right: 15px;flex-shrink: 0;}
.short-stories .large .short-story{position: relative;}
.short-stories .large .title{position: absolute;padding: 10px;background: rgba(0,0,0,0.8);bottom:0;left:0;right:0;}
.short-stories .large .title a{color:#fff;}
.short-stories .small{flex-grow: 1;}
.short-stories .small .short-story{width:320px;height:47px;margin-bottom: 5px;}
.short-stories .small .thumb{width:81px;height:47px;white-space: nowrap;float:left;margin-right:10px;}
.short-stories .small .title{font-weight: normal;}
.short-stories .small .title a{color: #333;}

#main-footer{
    background: #333;
    color: #f2f2f2;
    line-height: 1.5;
    padding-bottom: 15px;
    font-size: 15px;
}
#main-footer .right-sidebar{text-align: center;}
#main-footer a{color:#1ba7fe;}
.footer-links.container{display:block;margin-bottom: 20px;background:#000;;padding: 10px 20px;}
.footer-links h4{margin-bottom: 15px;font-weight: bold;color: #fff;font-size: 1.3em;}
.footer-links a{color: #aaa;margin-right:.75rem;display: inline-block;}
#search_result{position: absolute;top:50px;left:0;right:0;background: #fff;border:1px solid #ddd;box-shadow: 1px 1px 2px rgba(0,0,0,0.3);display:none;z-index:99;}
#search_result.no-result{text-align:center;padding: 20px;display:block;}
#search_result.no-result:before{content:"KhÃ´ng tÃ¬m tháº¥y truyá»‡n, tÃ¡c giáº£ nÃ o";}
#search_result.has-result{display:block;background:#fff;}
#search_result .results>a{display:block;padding: 5px;border-bottom: 1px dashed #ddd;font-size:14px;}
#search_result .results>a.story h4{font-weight:600;font-size: 14px;color:#000;}
#search_result .results>a.story em{float:right;font-size: 11px;color:#888;}
#search_result .results>a.story span{font-size: 11px;color:#888;}
#search_result>a{display:block;font-size: 13px;background: #555;text-align:center;padding: 8px 0;color:#fff;}
.social-button{width:40px;height:40px;border-radius: 20px;background:#3f51b5;color:#fff;display: inline-block;line-height:40px;}
#show-user-panel{position: relative;margin:7px 0;display:block;padding-right:15px;}
#show-user-panel img{border-radius: 30px;}
#show-user-panel:after{position: absolute;content:"";width:0;height:0;border:5px solid transparent;border-top:5px solid #fff;right:0;top:17px;}
#userPanel:hover{background: rgba(255,255,255,0.1);}
#userPanel:hover .panel{display:block;}
#userPanel .panel{width: 250px;background: #fff;position: absolute;right: 0;box-shadow:1px 1px 2px rgba(0,0,0,0.3);border: 1px solid #ddd;display:none;z-index:99;}
#userPanel .panel:before{content:"";position: absolute;width:0;height:0;border:6px solid transparent;border-bottom:6px solid #fff;top: -12px;right: 25px;}
#userPanel .panel .userinfo{color:#555;border-bottom: 1px solid #ddd;padding:10px;}
#userPanel .panel .userinfo::after{content:"";display:table;clear:both;}
#userPanel .panel .userinfo h5{color:#000;font-size: 15px;margin-bottom: 5px;}
#userPanel .panel .userinfo img{border-radius:30px;margin-bottom: 8px;float: left;margin-right:10px;width:50px;}
#userPanel .panel .userinfo p strong{color:#df1a0c;}
#userPanel .panel .userinfo .upoint{margin-top: 10px;margin-left: 60px;}
#userPanel .panel nav a{display:block;padding: 8px 10px;color: #555;text-decoration: none;}
#userPanel .panel nav a:hover{background: rgba(0,0,0,0.1);}
#userPanel .panel nav a i{width:21px;float:left;}
#userPanel .panel nav a#logout-btn{border-top:1px solid #ddd;color:#df1a0c;}
#login-ads{position: fixed;width:728px;height:90px;left: 50%;transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-moz-transform: translateX(-50%);
-ms-transform: translateX(-50%);bottom:0;z-index:9999;box-shadow: 0 -2px 5px rgba(0,0,0,0.3);}
#close-login-ads{position: absolute;top:0;right:0;width:30px;height:30px;background: rgba(0,0,0,0.5);color: #fff;text-align:center;line-height:30px;}


/* Login form */
#login-form .form-control{width:100%;height:34px;border-radius: 10px;border: 1px solid #ddd;margin-bottom: 15px;padding: 10px 12px 14px;}
#login-form>p{margin: 5px 0;}
#login-form [type="submit"]{display:block;background:#4497f8;color:#fff;border-radius: 50px;text-align:center;padding: 10px 16px;border:none;width:100%;font-size: 15px;margin-bottom: 10px;}
#login-form .social-logins{margin-top: 10px;padding-top:10px;border-top: 1px solid #ddd;text-align:center;}
#login-form .social-logins button,#login-form .social-logins a{
    border: none;
    display: inline-block;
    outline: 0;
    padding: 0 25px;
    line-height:36px;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 5px;
    margin: 5px;
}
.facebook{background:#3f51b5;color:#fff;}
#zalo{background:#216b9c;color:#fff;}
#login-form .social-logins #loginGoogle{padding:0;box-shadow: 0 0 2px rgba(0,0,0,0.4);}
#login-modal footer{text-align:center;}
/* End login form */



/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow-x: hidden;
	overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
    background: rgba(0,0,0,0.5);
}
.modal-dialog {
    position: relative;
    width: 400px;
    margin: 10px auto;
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    outline: 0;
    border-radius: 10px;
    padding: 15px;
}
.modal-header {
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
    border-bottom: 2px solid #e5e5e5;
}
.modal-header .close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.modal-body {
    padding-top: 20px;
    position: relative;
}
.modal .modal-dialog .modal-content .modal-footer {
    padding: 0;
    padding-top: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
#modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    opacity:0;
}
.modal footer{padding: 8px 16px;background:#f5f5f5;text-align: right;border-radius: 10px;}
/* End modal */

@media only screen and (max-width: 768px){ 
    #header{height:100px;}
    .container {flex-direction: column;}
    .main-col, .right-sidebar, .left-sidebar {max-width: 100%; margin: 0 2px;}
    .story-list {display: flex;}
    .last-chap {flex-direction: column;align-items: flex-end}
    .story-list .last-chapter {width: auto;}
    .story-list .last-updated {width: max-content;}
    .card-box>nav a {font-size: 13px; padding: 2px 8px 4px;margin-bottom: 3px;margin-right: 4px;}
    .story-grid {width: 49%;}

    #userPanel {position: absolute; top: 0; right: 0;}
    
    #search_form {width: 100%;}
    #search_form input {width: 100%;}
    #main {margin-top: 0;}
    #main-header .logo {margin: 0 54px;}
    #main-header .toggle-nav {display: block; position: absolute; top: 0;left: 0;}
    #main-header ul.main-nav {display: flex; flex-direction: column-reverse; z-index: 1; background-color: #4497f8;}
    #main-header ul.main-nav>li ul {display: flex; position: unset;width: 100%;}
    #main-header ul.main-nav>li>a {font-size: 18px;}
    .short-stories {flex-direction: column;}
    .main-nav-mobile {display: none;position: relative; left: 0;}

    #story-detail {flex-direction: column;}
    #story-detail .col1, #story-detail .col2 {width: 100%;}
    #story-detail .thumb {margin: 0 auto 15px;}
    #story-detail .infos {font-size: 18px;}
    #story-detail .title {display: none;}
    #story-detail .title-mobile {display: block; width: 100%; text-align: center; margin-bottom: 12px; font-size: 28px; text-transform: uppercase; color: #df1a0c; font-weight: 700; text-align: center;}
}